body {
    font-family: 'Caladea', serif;
    padding: 0;
    margin: 0;
    color: rgb(49, 47, 47);
    text-align: center;
}

h1 {
    font-family: 'Spartan', sans-serif;
}

h2 {
    text-decoration: underline;
}

#headerImg {
    width: 100%;
    /* background-color: black; */
}

#headerImg img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.nav{
    border-bottom: 2px solid rgb(49, 47, 47);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 4px;
}

.nav li{
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    width: 19%;
}
.nav a{
    display: inline-block;
    padding: 10px;
    margin: 0;
    color: rgb(49, 47, 47);
    text-decoration: none;

}

.textContent {
    margin-top: 20px;
    padding: 10% 5% 20% 5%;
    font-size: 1.15rem;
    
}

.quote {
    display: block;
    padding: 20px;
    font-size: 1rem;
    font-family: 'spartan';
}

.quoteAuth {
    color: rgb(255, 123, 0);
    font-weight: 800;
}

.imgBreak img {
    width: 100%;
    border-width: 20px 0 20px 0;
    border-style:solid;
    border-image: url(images/border.png) 50 0 50 0 repeat;

    border-image-slice: 50 0 50 0 fill;
    border-image-width: 20 0 20 0;
}

#gigs ul{
    list-style-type: none;
    line-height: 2;
}

#gigs img {
    width: 22%;
}

.multiImgBreak img{
    width: 33.33%;
    float: left;
}

