*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Caladea', serif;
    color: rgb(49, 47, 47);
    text-align: center;
}

body img {
    width: 100%;
}

header {
    position: relative;
    height: 50vh;
    background-image: url(images/SFWblue.jpg);
    background-size: cover;
    background-position: 50%;
}

header img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

nav {
    border-bottom: 1px solid rgb(49, 47, 47);
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    z-index: 9999;
}


nav li{
    display: inline-block;
    width: 24%;
    text-decoration: none;
}

nav a{
    color: rgb(49, 47, 47);
}

nav a:hover {
    background-color: rgb(49, 47, 47);
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.wrapper{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

#intro {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/HareBW.jpg);
    color: white;
    position: relative;
}

.section {
    padding: 10% 5% 20% 5%;
    font-size: 1.15rem;   
    background-position: 50%;
    background-size: cover;
}

.quote {
    display: block;
    padding: 20px;
    font-size: 1rem;
    font-family: 'spartan';
}

.quoteAuth {
    color: rgb(255, 123, 0);
    font-weight: 800;
}

.photocredit{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.5rem;
    font-style: italic;
}

#music {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/SFWfull.jpg);
    color: white;
}

#music img {
    width: 25%;
    padding: 5%;
}

#video {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/RoyalsScreen.png);
      color: white;
}


#contact {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/Hare.jpg);
      color: white;
}

#contact a{
    color: white;
}

#contact img{
    width: 25%;
    padding: 5%;
}

.down {
    visibility: hidden;
}

@media (min-width: 400px){

    header{
        height: 100vh;
        background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ), url(images/SFWblue.jpg);
        font-weight: 700;   
    }

    .down{
        visibility: visible;
        width: 5%;
        padding: 0;
        margin-left: 50%;
    }

    header img{
        padding-bottom: 5%;
    }

    .quote {
        font-weight: 800;
    }

    nav {
        display: none;
    }

    #intro{
        background-image: none;
        position: absolute;
        padding-top: 2.5%;
        top: 0;
    }

    #intro .photocredit{
        display: none;
    }

    .wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
        grid-gap: 0;
        padding:0;
        height: 100vh;
    }

    #gigs{
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ), url(images/HareBW.jpg);
        color: white;
        height: unset;
        grid-column: 1;
        grid-row: 1;
    }

    #music {
        height: unset;
        grid-column: 2;
        grid-row: 1;
    }

    .section img {
        width: 20%;
        padding: 5%;
    }

    #video {
        height: unset;
        grid-column: 1;
        grid-row: 2;
    }

    #contact {
        height: unset;
        grid-column: 2;
        grid-row: 2;
    }
















    
}

